<%- include('partials/html-start.ejs') %>

<h1>Mel's Books App</h1>



<br>
<p>
    <%= bookData.length %>  
</p>

<h3>Book List</h3>

<form method="POST" action="/addBook">
    <label for="bookName">Add a Book</label>
    <input name="bookName" placeholder="new book name">
    <input type="submit" value="add a new book" />
</form>


